body {
    font-size: 0.12rem;
}

.wraper {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    display: -webkit-flex;
    flex-direction: column;
}

.header {
    text-align: center;
    height: 44px;

}


.content {
    -webkit-flex: 1;
    position: relative;
}